*,
h1,
li,
a {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.default__btn {
    width: 184px;
    height: 46px;
    background: #00AFDB;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    outline: none;
    border: none;
}

.default__btn:hover {
    background: #009CC2;
}

header {
    max-height: auto;
    background-color: #000000;
}

.header__navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 25px 0 0 0;
    width: auto;
}

.header__navbar-item {
    font-size: 14px;
    padding: 0 42px 0 43px;
    opacity: 0.8;
    color: white;
}

.header__navbar-item a {
    color: #fff;
}

.header__navbar-item a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    opacity: 1;
}

.header__navbar-logo img {
    padding: 0 57px 0 59px;
}

.header__life {
    background-image: url(../image/background-header.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.header__life-content {
    padding-top: 155px;
    margin: 0;
    max-height: 649px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.header__life-title {
    padding-left: 23px;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 75px;
    letter-spacing: 4.5px;
}

.header__life-description {
    max-width: 504px;
    margin: 0 auto;
    padding: 22px 0 28px 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

.header__wrapper-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 131px 17px;
}

.header__social-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.header__social-item {
    padding: 53px 15px 85px 15px;
}

.technical__info {
    display: flex;
    justify-content: center;
    width: 407px;
    height: 233px;
}

.technical__info-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.technical__info-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.technical__info-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
}

.technical__info-image {}