body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-image: url(../image/bg-img_1.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 95px;
}

.header__navbar {
    color: white;
}

.header__navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 25px 0 0 0;
}

.header__navbar-item {
    list-style-type: none;
    font-size: 14px;
    padding: 0 30px 0 30px;
}

.header__navbar-items :first-child {
    padding-right: 60px;
}

.header__navbar-item img {
    padding: 0 40px 0 40px;
}

.youLife {
    background-color: black;
}